
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="public/assets/css/semantic.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="public/assets/javascript/semantic.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <style type="text/css">
    .masthead.segment {
      min-height: 200px;
      padding: 1em 0em;
    }

    .masthead .logo.item img {
      margin-right: 1em;
    }

    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }

    .masthead h1.ui.header {
      margin-top: 1em;
      margin-bottom: 0em;
      font-size: 6em;
      font-weight: normal;
      color: purple;
    }

    .masthead h2 {
      font-size: 2em;
      font-weight: normal;
    }


    .ui.vertical.stripe p {
      font-size: 1.33em;
    }

    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .footer.segment {
      padding: 20em 20em;
    }
  </style>

</head>

<body>

  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment"> -->

      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <div class="right item">
            <a class="ui inverted button">Start Trading</a>
          </div>
        </div>
      </div>
      <div class="ui text container">
        <h1 class="ui inverted header">
          Savvy Trader
        </h1>
        <h2>Stock Market Simulator</h2>
        <h2>How would you invest $100,000?</h2>
      </div>

      <div class="ui inverted vertical footer segment">
        <div class="ui container">
          <div class="seven wide column">
            <h4 class="ui inverted header">Kyle | Uche | Thomas | Nicole </h4>
          </div>
        </div>
      </div>

</body>

</html>