<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="assets/css/semantic.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="semantic/dist/semantic.min.js"></script>

  <style type="text/css">
    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }
    body>.grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>

  <script>
    $(document)
      .ready(function () {
        $('.ui.form')
          .form({
            fields: {
              email: {
                identifier: 'email',
                rules: []
              }
            }
          });
      });
  </script>
</head>

<body>
  <video autoplay muted loop id="myVideo">
    <source src="assets/images/background.mp4" type="video/mp4">
  </video>

  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="/savvy-trader/Homepage.html" class="header item">
        <img class="logo" src="assets/images/stockicon.jpg"> Savvy Trader </a>
      <a href="/savvy-trader/Homepage.html" class="item">Home</a>

    <div class="ui simple dropdown item"> Resources
      <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="https://www.thebalance.com/stock-trading-101-358115">Stock Trading 101</a>
          <a class="item" href="https://markets.wsj.com/us">Major Stock Indexes</a>
        <div class="divider"></div>
        <div class="item">
          <i class="dropdown icon"></i>
          U.S. Stock Exchanges
        <div class="menu">
          <a class="item" href="https://www.nasdaq.com/">Nasdaq</a>
            <a class="item" href="https://www.nyse.com/index">NYSE</a>
        </div>
        </div>
        </div>
    </div>

    </div>
  </div>

  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <form class="ui large form">
      <div class="ui stacked segment">
      <div class="field">
      </form>
    <div>
      <a class="ui huge purple button" href="/savvy-trader/Homepage.html" target="_blank">Create Account</a>
    </div>
    <div class="ui horizontal divider">
        Or
      </div>
    </div>
      <button class="ui huge icon button"> Login in with Google
        <i class="google icon" href="/auth/google" target="_blank"></i>
      </button>
  </div>
  <script type="text/javascript" src="/assets/javascript/login.js"></script>
</body>
</html>